@page "/"
@using MauiSensorFeeds.Calculated

<div>
    <div class="row">
        <div class="col-4 home-label">Accel / Braking</div>
        <div class="col-7 large-label with-margins @(brakeRateClass)" >
            @Math.Round(model.HorizontalAccel,1) @model.AccelLabel
        </div>
    </div>
    <div class="row">
        <div class="col-4 home-label">Speed</div>
        <div class="col-7 large-label with-margins">@Math.Round(model.Speed,1) @model.SpeedLabel</div>
    </div>
    <div>
        <span>Storage: @filepath</span>
        <button class="btn btn-primary" @onclick="Save">Click me</button>
    </div>
</div>

            @code {

    private CalculatedModel model;
    private string filepath = MauiSensorFeeds.SensorFeeds.FilePath;
    private string brakeRateClass = "bg-info";
    private SensorFeeds feeds = SensorFeeds.GetSensorFeeds();

    public Home(IAccelerometer accelerometer, 
        IOrientationSensor orientationSensor, 
        IGeolocation geolocation,
        CalculatedModelSensor modelSensor)
    {
        try
        {
            feeds.CalculatedModelSensor!.CalculatedValuesChanged += this.UpdateValues;

            if (model == null)
                model = feeds.Model!;
        }
        catch (Exception ex)
        {
            throw;
        }
    }

    protected override void OnInitialized() 
    {
        SensorFeeds.StartAll(SensorSpeed.Default);
        model = feeds.Model!;
        if (model != null)
            model.Recalculate();
    }

    public void UpdateValues(object? sender, CalculatedModelChangedEventArgs args)
    {
        model = args.Model;
        this.StateHasChanged();
        brakeRateClass = 
            (Math.Abs(model.HorizontalAccel) > CalculatedModel.AccelBrakeLimit) ?
            "blinking bg-danger danger-white" :
            "bg-info";
    }
    
    private async Task Save()
    {
        if (SensorFeeds.FilePath == "?")
        {
            var result = await FolderPicker.PickAsync(CancellationToken.None);
            if (result.IsSuccessful)
            {
                SensorFeeds.FilePath = result.Folder.Path;
                Console.WriteLine($">>>>>>>>>>>>>>>>>>>>>>>>>>>>> {SensorFeeds.FilePath}");
                await SaveData((feeds.AccelerometerSource as AccelerometerSensor)?.SensorInputData);
                await SaveData((feeds.AccelerometerSource as AccelerometerSensor)?.SensorOutputData);
                await SaveData((feeds.OrientationSensorSource as Orientation_Sensor)?.SensorInputData);
                await SaveData((feeds.OrientationSensorSource as Orientation_Sensor)?.SensorOutputData);
                await SaveData((feeds.GeolocationSource as GeolocationSensor)?.SensorInputData);
                await SaveData((feeds.CalculatedModelSource as CalculatedModelSensor)?.SensorInputData);
            }
        }
    }

    private async Task SaveData(ISensorData? sensorData)
    {
        if (sensorData != null)
        {
            await FileSaver.SaveAsync(sensorData.GetFullPathname(),
                sensorData.WriteToStream(), CancellationToken.None);
        }

    }

    public void Dispose()
    {
    }

}
