@page "/"
@using MauiSensorFeeds.Calculated

<div>
    <div class="row">
        <div class="col-4 home-label">Accel / Braking</div>
        <div class="col-7 large-label with-margins @(brakeRateClass)" >
            @model.HorizontalAccel @model.AccelLabel
        </div>
    </div>
    <div class="row">
        <div class="col-4 home-label">Speed</div>
        <div class="col-7 large-label with-margins">@model.Speed @model.SpeedLabel</div>
    </div>
</div>

@code {

    private CalculatedModel model;
    private string brakeRateClass = "bg-info";

    public Home(IAccelerometer accelerometer, 
        IOrientationSensor orientationSensor, 
        IGeolocation geolocation)
    {
        try
        {
            (accelerometer as AccelerometerSensor)?.Start();
            (orientationSensor as Orientation_Sensor)?.Start();
            (geolocation as GeolocationSensor)?.Start();

            var feed = SensorFeeds.GetSensorFeeds();

            model = feed.Model;
        }
        catch (Exception ex)
        {
            throw;
        }
    }

    protected override void OnInitialized() 
    {
        model.Recalculate();
    }

    public void UpdateValues(object? sender, CalculatedModelChangedEventArgs args)
    {
        model = args.Model;
        this.StateHasChanged();
        brakeRateClass = 
            (Math.Abs(model.HorizontalAccel) > CalculatedModel.AccelBrakeLimit) ?
            "blinking bg-danger danger-white" :
            "bg-info";
    }

    public void Dispose()
    {
    }

}
